
body
{
    background: #231F20;
    font-family: Helvetica, Arial, sans-serif;
}

/* header */

.header .logo
{
    position: relative;
    top: 0px;
    left: 620px;
}

.header .title
{
    position: absolute;
    width: 500px;
    height: 100px;
    left: 100px;
    top: 200px;
    font-weight: 700;
    font-size: 96px;
    line-height: 110px;
    color: #ADADAD;
}

.header .subtitle
{
    position: absolute;
    left: 100px;
    top: 500px;
    font-weight: 500;
    font-size: 48px;
    color: #ADADAD;
}

.skills .title
{
    position: absolute;
    width: 178px;
    height: 50px;
    background: #505050;
    left: 100px;
    top: 1160px;
    font-size: 48px;
    font-weight: 700;
    color: #ADADAD;

} 

.skills .content
{
    position: relative;
    top: 490px;
    left: 100px;
    width: 202px;
    font-weight: 500;
    font-size: 32px;
    line-height: 75px;
    color: #ADADAD;
    padding: 25px;
    margin: 20px;
}

.skills .rounds
{
    display: inline-block;
    flex-direction: column;
    width: 150px;

}

.skills .round
{
    background: #ADADAD;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin: 20px;
}

.skills .round-purple
{
    background: #AE87C7;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin: 20px;
}


.contact .title
{
    position: relative;
    width: 232px;
    height: 50px;
    background: #505050;
    left: 100px;
    top: 600px;
    font-weight: 700;
    font-size: 48px;
    color: #ADADAD;
}

.contact .icon
{
    position: relative;
    margin: 50px;
    top: 700px;
}

    /* responsive */

/* desktop */

@media (max-width: 1440px)
{
    .logo
    {
        position: relative;
        top: -30px;
        left: 400px;
    }

}

@media (max-width: 1150px)
{
    .logo
    {
        position: relative;
        top: -30px;
        left: 200px;
    }
}

/* tab */
@media (max-width: 950px)
{
    .logo
    {
        position: relative;
        width: 450px;
        top: 0px;
        left: 350px;
    }

}

@media (max-width: 790px)
{
    .header
    {
        left: 120px;
        font-size: 60px;
    }

    .logo
    {
        position: relative;
        width: 100px;
        top: 60px;
        left: 0px;
    }

}

/* phone */

@media (max-width: 580px)
{
    .logo
    {
        position: relative;
        width: 100px;
        top: 60px;
        left: 0px;
    }
}

@media (max-width: 500px)
{
    .logo
    {
        position: relative;
        width: 130px;
        top: 60px;
        left: 180px;
        align-items: center;
    }

    .header
    {
        left: 20px;
        top: 60px;
        font-size: 54px;
    }

}